<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Youtube MP3-MP4 Downloader</title>

        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
    </head>

    <body>
        <header>
            <h1>MP3-MP4 YouTube Downloader</h1>
        </header>

        <main class="main-page">

            <div class="content choices">
                <form action="{{url_for('mp3_option_button')}}" method="post">
                    <button id="MP3-Button" name="MP3-Button" value="MP3-Option">MP3 Option</button>
                </form>
                <form action="{{url_for('mp4_option_button')}}" method="post">
                    <button id="MP4-Button" name="MP4-Button" value="MP4-Option">MP4 Option</button>
                </form>
            </div>

        </main>

        {% if option_form_mp3 %}
            {%include 'mp3-form.html' %}
        {% endif %}

        {% if option_form_mp4 %}
            {%include 'mp4-form.html' %}
        {% endif %}

        {% if trimmer_open %}
            {% include 'trimmer.html' %}
        {% endif %}

        {% if metadata_editor_open %}
            {% include 'mp3-metadata-editor.html' %}
        {% endif %}

        <footer>

        </footer>
    </body>
</html>