<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Youtube MP3-MP4 Downloader</title>

        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
    </head>

    <body>
        <header>

        </header>

        <main class="main-page">

            <div class="content">
                <form class="mp3-form" action="{{url_for('mp3_download')}}" method="post">
                    <label for="youtube_link">Youtube URL:</label><br>
                    <input type="text" id="youtube_link" name="youtube_link" placeholder="Youtube Link"><br>
                    <input type="submit" value="Download MP3">
                </form>
                <h3>{{result}}</h3>
                <h3>{{file}}</h3>
            </div>

        </main>
           
        <footer>

        </footer>
    </body>
</html>