<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Youtube MP3-MP4 Downloader</title>

        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
    </head>

    <body>
        <header>

        </header>

        <main>

            <form action="{{url_for('mp4_download')}}" method="post">
                <label for="youtube_link">Youtube URL:</label><br>
                <input type="text" id="youtube_link" name="youtube_link" placeholder="Youtube Link" required><br>

                <input type="radio" id="video_quality_720p" name="video_quality" value="720p">
                <label for="youtube_quality_720p">720p</label><br>

                <input type="radio" id="video_quality_1080p" name="video_quality" value="1080p" checked>
                <label for="youtube_quality_1080p">1080p</label><br>

                <input type="submit" value="Download MP4">
            </form>

            <h3>{{result}}</h3>
            <h3>{{filePath}}</h3>

        </main>
           
        <footer>

        </footer>
    </body>
</html>