<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Youtube MP3-MP4 Downloader</title>

        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
    </head>

    <body>
        <header>
           
        </header>

        <main>
            <form class="trimmer-form" action="{{url_for('mp4_trimmer_editor')}}" method="post">
                <label for="start-time">Trim seconds from the start: </label><br>
                <input type="text" id="start-time" class="trim-input" name="start-time" placeholder="Trim seconds from the start"><br>

                <label for="end-time">Trim seconds from the end: </label><br>
                <input type="text" id="end-time" class="trim-input" name="end-time" placeholder="Trim seconds from the end"><br>

                <input type="submit" value="Trim">
            </form>
        </main>

        <h3>{{result_trimmer}}</h3>
           
        <footer>

        </footer>
    </body>
</html>